nav{

	background-image: url("header-bg.jpg");
	height: 70px;
	width: 100%;
	
}
.logo{
	position: relative;
	left: 30px;
	top: 5px;
	display: inline;
}

select{

	border: none;
	background: none;
	border-left: 1px solid white;
	color: white;
	position: relative;
	height: 60px;
	bottom: 20px;
	left: 55px;
	bottom: 18px;
	width: 50px;
	font-weight: bold;
	outline: none;
}
.wrapper{

	display: inline;
	float: right;
	position: relative;
	right: 20px;
	top: 20px;
}
a{

	text-decoration: none;
	color: white;
	font-weight: lighter;
	margin-left: 10px;

}
.container{

	width: 100%;
	background-image: url("banner-bg.jpg");
	height: 400px;
	margin: auto;
	display: inline-block;
}
h1{
	font-size: 50px;
	text-align: center;
	color: white;
	margin-top: 10%;

}
p{

	text-align: center;
	font-size: 20px;
	color: White;
}
button{
	height: 40px;
	margin-top: 20px;
	border-radius: 20px;
	box-shadow: none;
	border: none;
	background-color:#EF5A00 ;
	width: 150px;
	color: white;
}
.active{

	font-size: 15px;
	margin-top: 10px;
	margin-left: 5px;
	text-align: left;
}
.sub-heading{

	font-size: 23px;
	font-weight: bold;
	text-align: center;
	margin-top: 25px;
}
.videos{

	width: 80%;
	margin: auto;
	height: 450px;
	margin-top: 20px;
	box-shadow: 2px 2px 5px 5px #C4C7C8;
	border-radius: 5px;
}
.rectangle{
	height: 80px;
	width: 250px;
	background-color: white;
	opacity: 0.8;
	position: absolute;
    bottom: 20%;
    right: 10%;	

}
.active_video{
	position: relative;
	display: inline-block;
	float: left;
	width: 60%;
}
.juhee{

	width: 100%;
}

#play{

	color: orange;
	position: absolute;
	bottom: 24%;
	right: 42.5%;
	
}
.playing_now{
   color: black;
   height: 80%;
   width:20%;
   display: inline-block;
   margin-top: 30px;
}
.artist{

	color: black;
	margin:auto;
	top: 15px;
	position: relative;
}
.designation{
	color: black;	
	position: relative;
	top: 20px;
	font-size: 14px;
	right: 20px;
}
.next,.now,.previous{
	margin-top: 20px;
	width: 60%;
	border-radius: 15px;
	margin-left: 20px;
}
.next,.previous{

	opacity: 0.7;
}
.detail{

	display: inline-block;	
	padding-top: 1.5%;
	position: absolute;
	width: 19%;
}
h4{

	font-weight: 400;
	font-size: 20px;
	position: relative;
	margin-top: 65px;
}
.desg{

	color: black;
	text-align: left;
	font-size: 15px;
}
